<!DOCTYPE html>
<html>
  <head>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Numerology App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Numerology</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/people">People<span class="sr-only">(current)</span></a></li>
          <li><a href="/people/new">Create a New Person</a></li>
        </ul>
        </form>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
   </nav>
   <div class="container">
     <div class="header">
       <h1><span id="title">Numerology Calculator</span> <small>A Skillcrush Project</small></h1>
     </div>
     <hr>
       <%= yield %>
    </div>
  </body
</html>
